.App {
  width: 100%;
}

.body_container {
  display: flex;
  width: 100%;
}

.body_container .sidebar_container {
  position: fixed;
  height: 100%;
  z-index: 10000;
  /* background:red; */
}

.body_container .routes_container {
  padding: 20px;
  margin-top: 55px;
  transition: margin-left 0.3s, width 0.3s;
}

.sidebar-expanded .sidebar_container {
  width: 260px; /* Your sidebar expanded width */
}

.sidebar-expanded .routes_container {
  margin-left: 260px; /* Same as sidebar expanded width */
  width: calc(100% - 260px); /* Adjust remaining width */
}

.sidebar-collapsed .sidebar_container {
  width: 60px; /* Your sidebar collapsed width */
}

.sidebar-collapsed .routes_container {
  margin-left: 60px; /* Same as sidebar collapsed width */
  width: calc(100% - 60px); /* Adjust remaining width */
}
.zsc{
  background:rgb(5, 77, 172);
}